/*
colorblind safe color palettes from colorbrewer2.org
#e66101 dark orange
#fdb863 light orange
#f7f7f7 white
#b2abd2 light purple
#5e3c99 dark purple
*/

body {
  /*selects background color */
  background-color: #92c5de;
  /*selects foreground color */
  color: #0571b0;
  /*selects text alignment to center of page */
  text-align: center;
  /*creates 0px of space around element */
  margin: 0;
}

h1 {
  /*selects foreground color */
  color: #f7f7f7;
  /*creates 5px of space within this element between content and border */
  padding: 5px;
  /*creates 0px of space around element */
  margin: 0;
}

#body-container {
  /*selects a background color */
  background-color: #f7f7f7;
  /*sets the max width of an element */
  max-width: 1000px;
  /*horizontally centers an element in its container */
  margin: auto;
  /*specifies height of element */
  height: 120vh;
  /*creates a 2px solid white visible border */
  border: 2px solid #f7f7f7;
  /*degree to which a border's corners are rounded */
  border-radius: 25px;
}

#header {
  /*sets a background color */
  background-color: #0571b0;

}

#profile-picture {
  /*removes an object from the normal flow of the page (though still part of the
  flow) so text can wrap around it */
  float: left;
}

#welcome-text {
  /*sets the padding between the top of its content and its border to 25px */
  padding-top: 25px;
  /*changes the font size to 25px */
  font-size: 25px;
}

#research-interests {
  /*selects foreground color */
  color: #b2abd2;
  /*selects text alignment to left of page */
  text-align: left;
  /*changes the font size to 25px */
  font-size: 25px;
  /*sets the element position relation to its normal position */
  position: relative;
  /*offsets the element 50px to the left from its normal position */
  left: 50px;
}

#webmap-reviews{
  /*aligns text to the left */
  text-align: left;
  /*sets font size */
  font-size: 15px;
  /*maintains relative position within the flow of the page */
  position: relative;
}

footer {
  /*selects bacground color */
  background-color: #b2abd2;
  /*selects foreground color */
  color: #5e3c99
}

#copyright {
  /*positions the textbox outside the normal flow of the page*/
  position: absolute;
  /*makes the copyright bounding box stay in the bottom left hand corner of the page*/
  width: 80%;
  /*aligns the text to the center*/
  text-align: center;
  /*offsets it 20px from the bottom*/
  bottom: -150px;
}
