/*
colorblind safe color palettes from colorbrewer2.org
#e66101 dark orange
#fdb863 light orange
#f7f7f7 white
#b2abd2 light purple
#5e3c99 dark purple
*/

body {
  background-color: #fdb863;
  color: #5e3c99;
  text-align: center;
}

h1 {
  color: #f7f7f7
}

research-interests {
  color: #f7f7f7;
  text-align: left;
}
